.App {
  text-align: center;
  height:100vh;
  display:grid;
  grid-template-rows: auto 1fr auto;
}
.countryStatsPieWrapper{
  display: flex;
  justify-content: center;
}
.countryStatsPie{
  max-width:600px;
  max-height:600px;
}
.graphtitle{
  font-size: 22px;
  font-weight: 500;
  margin-bottom:10px;
  text-decoration: underline;
}
.graphWrapper{
  border-radius:6px;
  border:1px solid black;
  padding:1rem;
  margin-bottom:1rem;
}
.countrySearch{
  width:100%;
  border-radius: 6px;
  border:1px solid black;
  padding:0.5rem;
  text-transform: capitalize;
}